{
    "name": "{{namespace}}.ServerMock",
    "rootNamespace": "{{namespace}}.Server",
    "references": [
        "{{namespace}}.Sdk.NodeFlows",
        "{{namespace}}.Sdk.Shared",
        "{{namespace}}.Sdk.Server",
        "HyperEdge.Sdk.Server",

	"MagicOnion.Abstractions",
        "MagicOnion.Unity",
        "Ulid"
    ],
    "includePlatforms": [
        "Editor"
    ],
    "excludePlatforms": [],
    "allowUnsafeCode": false,
    "overrideReferences": false,
    "precompiledReferences": [],
    "autoReferenced": true,
    "defineConstraints": [],
    "versionDefines": [],
    "noEngineReferences": false
}

