using System;
using System.Collections.Generic;
using UnityEngine;

using {{namespace}}.Sdk.Shared;
using {{namespace}}.Sdk.Shared.Structs;


namespace {{namespace}}.Client
{
    public partial class BaseModel
    {
    }
}

